.comments {
  background: var(--color-gray-200);
  padding: 5rem 0;
}
.comments h2 {
  text-align: center;
  grid-column: 1/3;
}
.comments .row {
  display: grid;
  grid-template-columns: 50% calc(50% - 5rem);
  gap: 5rem;
}
.comments .col-right {
  align-self: center;
}
.comments-box {
  margin: 3rem;
  padding: 2.5rem;
  border-radius: 2rem;
  background: var(--color-white);
  filter: var(--shadow);
}
.comments-box .comment-text {
  margin-bottom: 2rem;
}
.comments-box .comment-info {
  display: grid;
  grid-template-columns: 1fr 10rem;
}
.comments-box .comments-icon {
  width: 5rem;
}
.comments-box .comment-name {
  font-weight: 700;
  font-size: 2.3rem;
}
.comments-box .comment-company {
  font-weight: 400;
}
.swiper-comments .swiper-button-next,
.swiper-comments .swiper-button-prev {
  width: 3rem;
  cursor: pointer;
}
.swiper-comments .swiper-button-next {
  transform: rotate(180deg);
  margin-left: 3rem;
}
.swiper-comments .swiper-button-prev {
  margin-left: 1rem;
}
.comments .col-left {
  height: 45rem;
  position: relative;
}
.comments .col-left img {
  position: absolute;
  filter: var(--shadow);
}
.comments .col-left .img-conecta {
  left: 50%;
  top: 50%;
  width: 18rem;
  animation: img-conecta 3s ease-in-out infinite;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
}
@keyframes img-conecta {
  0% {
    transform: translate(-50%, -50%) scale(1);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
  }
  50% {
    transform: translate(-50%, -50%) scale(0.95);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
  }
}
.comments .col-left .img-etrilhas {
  right: 30%;
  top: 0%;
  width: 10rem;
  animation: img-etrilhas 5s ease-in-out infinite;
}
@keyframes img-etrilhas {
  0% {
    transform: translate(1rem, 1rem);
  }
  50% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(1rem, 1rem);
  }
}
.comments .col-left .img-etrilhas {
  right: 30%;
  top: 0%;
  width: 10rem;
  animation: img-etrilhas 5s ease-in-out infinite;
}
@keyframes img-etrilhas {
  0% {
    transform: translate(1rem, 1rem);
  }
  50% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(1rem, 1rem);
  }
}
.comments .col-left .img-lav {
  right: 10%;
  top: 27%;
  width: 8rem;
  animation: img-lav 4s ease-in-out infinite;
}
@keyframes img-lav {
  0% {
    transform: translate(-1rem, 1rem);
  }
  50% {
    transform: translate(0rem, 0rem);
  }
  100% {
    transform: translate(-1rem, 1rem);
  }
}
.comments .col-left .img-expert {
  right: 18%;
  bottom: 4%;
  width: 11rem;
  animation: img-expert 4s ease infinite;
}
@keyframes img-expert {
  0% {
    transform: translate(-1rem, 1rem);
  }

  50% {
    transform: translate(1rem, 0rem);
  }

  100% {
    transform: translate(-1rem, 1rem);
  }
}
.comments .col-left .img-lokal {
  left: 9%;
  bottom: 16%;
  width: 10rem;
  animation: img-lokal 4s ease-in infinite;
}
@keyframes img-lokal {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(1rem, 0rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
.comments .col-left .img-ryze {
  left: 10%;
  top: 9%;
  width: 10rem;
  animation: img-ryze 4s ease-out infinite;
}
@keyframes img-ryze {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-2rem, -1rem);
  }

  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 992px) {
.comments .col-left .img-lav {
    right: 0%;
}
.comments .col-left .img-lokal {
  left: 0%;
}
.comments .col-left .img-ryze {
  left: 0%;
  top: 14%;
}
}
@media (max-width: 768px) {
.comments h2 {
  grid-column: auto;
}
.comments .row {
  grid-template-columns: 100%;
}
@keyframes img-ryze {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(2rem, -1rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
}
@media (max-width: 576px) {
.comments .row {
  gap: 0rem;
}
.comments p {
  font-size: 1.4rem;
}
img.comments-icon {
  justify-self: flex-end;
}
}
@media (max-width: 400px) {
.comments .col-left .img-conecta {
  left: 50%;
  top: 50%;
  width: 14rem;
  
}
.comments-box {
margin: 2rem;
}
.comments-box .comment-name {
  font-size: 1.8rem;
  line-height: 1.3;
}}