footer {
  background-color: var(--color-gray-500);
  padding: 5rem 0;
}
footer .row {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
footer .link-green {
  margin-bottom: 1rem;
}
footer .social-buttons {
  display: flex;
  padding: 2rem 0 0 0;
  gap: 0.5rem;
  align-items: flex-end;
}
footer .social-buttons a {
  padding: 1rem;
}
footer .social-buttons a:hover img {
  filter: brightness(0.8);
}
footer .social-buttons img {
  height: auto;
  width: 2rem;
}
footer h1 {
  color: var(--color-white);
  line-height: 1;
}
footer .celnumber {
  color: var(--color-white);
}
footer p.copyright {
  color: var(--color-gray-400);
  font-weight: 500;
}
@media (max-width: 576px) {
  footer .row {
    grid-template-columns: 100%;
  }
}
