/*
HEADER
*/
header.menu {
  top: 0;
  right: 0;
  width: 100%;
  background: var(--color-gray-300);
  padding: 1rem;
  z-index: 10;
  box-sizing: border-box;
  position: fixed;
}
header.menu .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.menu a.logo img {
  height: 5rem;
  width: auto;
}
header.menu nav ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}
header.menu nav li a {
  font-family: var(--font-outfit);
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--black);
  padding: 0.5rem;
  position: relative;
}
header.menu nav li a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background: var(--color-green);
  left: 0;
  bottom: 0rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease-in-out;
}
header.menu nav li a:hover::before{
  transform: scaleX(1);
}
header.menu nav li a.btn-green {
  padding: 1.5rem 3rem;
}
header.menu .btn-mobile-menu {
  display: none;
}
/*
END HEADER
*/
@media (max-width: 1200px) {
  header.menu nav ul {
    gap: 2rem;
  }
}
@media (max-width: 992px) {
  header.menu .btn-mobile-menu {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    cursor: pointer;
  }
  header.menu .btn-mobile-menu div {
    width: 3.9rem;
    height: 0.4rem;
    border-radius: 20px;
    background: var(--color-black);
    transition: 0.6s;
  }
  header.menu .btn-mobile-menu.active div:nth-child(1) {
    transform: translate(0px, 11px) rotateZ(45deg);
  }
  header.menu .btn-mobile-menu.active div:nth-child(2) {
    transform: scaleX(0);
  }
  header.menu .btn-mobile-menu.active div:nth-child(3) {
    transform: translate(0px, -11px) rotateZ(-45deg);
  }
  header.menu nav ul {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    top: 7.89rem;
    right: 0;
    background: var(--color-gray-100);
    height: 0;
    transition: 0.6s all ease-in-out;
    visibility: hidden;
    overflow: hidden;
    z-index: 99;
  }
  header.menu nav.active ul {
    height: calc(100vh - 7.89rem);
    visibility: visible;
  }
  header.menu nav li a {
    padding: 1rem 2rem;
  }
}
@media (max-width: 768px) {
  header.menu a.logo img {
    height: 4rem;
  }
  header.menu nav.active ul {
    height: calc(100vh - 6.89rem);
  }
  header.menu nav ul {
    top: 6.89rem;
  }
}
@media (max-width: 576px) {
  header.menu {
    padding: 1rem 0;
  }
  header.menu a.logo img {
    height: 4rem;
  }
}
