.hero {
  background: var(--color-gray-200);
  padding-top: 3rem;
}
.hero .row {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  align-items: center;
  gap: 2rem;
}
.hero p {
  margin-bottom: 2rem;
}
.hero .col-right {
  margin-top: -3rem;
}
.hero .col-left {
  position: relative;
}
.hero .col-left .img-guy {
  width: 100%;
}
.hero .col-left .img-graphic {
  top: 0;
  right: 0;
  width: 20rem;
  position: absolute;
  filter: var(--shadow);
  animation: 5s heroGraphic ease-in-out infinite;
}
@keyframes heroGraphic {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-3rem, 1.5rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
@media (max-width: 992px) {
  .hero h1 {
    font-size: 3rem;
  }
  .hero .col-left .img-graphic {
    width: 15rem;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-top: 5rem;
  }
  .hero .row {
    gap: 5rem;
    grid-template-columns: 100%;
  }
}
