.portfolio {
  background: var(--color-gray-200);
  padding: 6rem 0;
}
.portfolio h2,
.portfolio h3 {
  text-align: center;
}
.swiper-portfolio {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 4.5rem calc(100% - 9rem) 4.5rem;
  padding: 5rem 0;
}
.swiper-portfolio .swiper {
  width: 100%;
}
.swiper-portfolio .portfolio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 2rem;
  border-radius: 1rem;
}
.swiper-portfolio .portfolio-box img {
  width: calc(100% + 3.5rem);
}
.swiper-portfolio .swiper-button-next {
  transform: rotate(180deg);
}
.swiper-portfolio .control-button {
  width: 2.5rem;
  margin: 1rem;
  cursor: pointer;
}
@media (max-width: 576px) {
  .portfolio {
    padding: 0rem 0;
  }
}
